.cv-template07 {
	border-top: 6px solid $dark-gray-tml07;
	border-bottom: 6px solid $dark-gray-tml07;
	display: flex;
	flex-direction: column;
	font-size: 14px;

	.title__content {
		position: relative;
		color: $white;
		margin-bottom: 1rem;
		margin-top: 0.5rem;
		h1 {
			font-size: 2rem;
			text-transform: uppercase;
		}
		span {
			position: absolute;
			top: -1.5rem;
			right: 1.375rem;
			i {
				font-size: 3.75rem;
			}
		}
	}

	.top__layout {
		width: 100%;
		min-height: 247px;
		display: flex;
		flex-direction: row;
		.row-1,
		.row-2,
		.row-3 {
			flex: 1;
		}

		.row-1 {
			margin-right: 2px;

			.contact {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				.contact__list {
					margin-top: 2.375rem;
					margin-bottom: 3rem;
					width: 100%;
					padding: 0 1.75rem;
					.contact__item {
						display: flex;
						align-items: center;

						&:not(:last-child) {
							margin-bottom: 0.75rem;
						}

						.item-location,
						.item-phone,
						.item-website {
							width: 1.625rem;
							height: 1.625rem;
							background-color: $orange;
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 100%;
							margin-right: 0.5rem;
							position: relative;
							i {
								font-size: 0.875rem;
								color: $white;
							}
							&::before {
								content: "";
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 0 10px 10px 0;
								border-color: transparent #007bff transparent transparent;
								position: absolute;
								top: 0;
								right: 0;
							}
						}

						.item-location {
							background-color: $teal-tml07;
							&::before {
								border-color: transparent $teal-tml07 transparent transparent;
							}
						}
						.item-phone {
							background-color: $gold-tml07;
							&::before {
								border-color: transparent $gold-tml07 transparent transparent;
							}
						}
						.item-website {
							background-color: $red-tml07;
							&::before {
								border-color: transparent $red-tml07 transparent transparent;
							}
						}

						.item__name {
							font-weight: 500;
						}
					}
				}

				.social-network {
					text-transform: uppercase;
					border-top: 1px solid $black;
					border-bottom: 1px solid $black;
					width: max-content;
					padding: 0.25rem 0;
					transform: skewX(-20deg) rotate(-15deg);
					margin-bottom: 3.25rem;
				}
			}
		}

		.row-2 {
			margin-left: 0.125rem;
			margin-right: 0.125rem;
			background-color: $gray-tml07;

			.avatar {
				width: 10rem;
				height: 10rem;
				margin: 0.625rem auto;
				position: relative;
				z-index: 9;
				img {
					width: 100%;
					height: 100%;
					border-radius: 100%;
					border: 0.25rem solid $white;
					background-color: $white;
					box-shadow: inset 0.375rem 0.625rem 1.125rem 0.125rem $gray-tml07;
				}
			}
		}

		.row-3 {
			margin-left: 2px;

			.profile__name {
				display: flex;
				flex-direction: column;
				margin-left: 0.75rem;
				margin-top: 1.5rem;
				span {
					font-size: 1.125rem;
					font-weight: 500;
				}

				.name__title {
					text-transform: uppercase;
					font-weight: 700;
					font-size: 2.125rem;
					border-top: 2px solid $black;
					border-bottom: 2px solid $black;
					width: max-content;
					margin: 0.5rem 0;
				}

				.position__list {
					margin-top: 0.5rem;
					.position__item {
						text-transform: uppercase;
						font-size: 1.25rem;
						font-weight: 700;
						p {
							display: inline-flex;
							span {
								font-size: 1.25rem;
								font-weight: 700;
								margin-left: 0.1875rem;
							}
						}

						&:nth-child(1) {
							color: $red-tml07;
						}
						&:nth-child(2) {
							color: $teal-tml07;
						}
						&:nth-child(3) {
							color: $red-tml07;
						}
						&:nth-child(4) {
							color: $gold-tml07;
						}
					}
				}
			}
		}
	}
	.mid__layout {
		width: 100%;
		min-height: 25rem;
		display: flex;
		flex-direction: row;

		.row-1,
		.row-2,
		.row-3 {
			flex: 1;
		}

		.row-1 {
			background-color: $gold-tml07;
			margin-right: 3px;
			position: relative;

			&::before {
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 68px 273px;
				border-color: transparent transparent $gold-tml07 transparent;
				position: absolute;
				top: -68px;
				left: 0;
			}

			.triangle {
				.other-triangle-left {
					border-width: 68px 274px 0 0;
					border-color: $gold-tml07 transparent transparent transparent;
				}
				.triangle-right-back {
					bottom: -76px;
					left: 0;
				}
			}

			.dot {
				.dot-2 {
					width: 104px;
					bottom: -72px;
					right: -9px;
				}
			}

			.skill-education {
				background-color: $gold-tml07;
				padding-left: 1.625rem;
				position: relative;
				min-height: 500px;

				.main__content {
					padding-right: 1.625rem;
					.education__list {
						margin-bottom: 1.5rem;
						.education__item {
							font-style: italic;

							&:not(:last-child) {
								margin-bottom: 0.875rem;
							}

							p {
								&:not(:last-child) {
									margin-bottom: 0.25rem;
								}
							}
							.item__title {
								display: flex;
								justify-content: space-between;
								align-items: center;

								.title-name {
									font-weight: 500;
									text-transform: uppercase;
								}
								.title-date {
									color: $white;
									font-weight: 500;
									font-size: 1rem;
								}
							}
						}
					}

					.skill__list {
						.process__item {
							&:not(:last-child) {
								margin-bottom: 0.5rem;
							}
							.item__name {
								text-transform: uppercase;
								font-weight: 500;
								margin-bottom: 4px;
								font-size: 0.8125rem;
							}
							.process-outer {
								width: 100%;
								height: 0.3125rem;
							}

							.process-inner {
								background-color: $black;
								width: 80%;
								height: 100%;
							}
						}
					}
				}
			}
		}

		.row-2 {
			background-color: $teal-tml07;
			margin-left: 3px;
			margin-right: 3px;
			position: relative;

			&::before {
				content: "";
				width: 100%;
				height: 6.25rem;
				background-color: $teal-tml07;
				position: absolute;
				top: -6.25rem;
				left: 0;
			}

			&::after {
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 68px 274px;
				border-color: transparent transparent $teal-tml07 transparent;
				position: absolute;
				top: -10.5rem;
				left: 0;
			}

			.history-achievement {
				padding: 2.25rem 1.625rem 0 1.625rem;
				position: relative;

				.title__content {
					position: absolute;
					top: -4.5rem;
					left: 1.625rem;
				}

				.main__content {
					.h-a__list {
						.h-a__item {
							&:not(:last-child) {
								margin-bottom: 1.5rem;
							}
							.item__title {
								text-transform: uppercase;
								color: $white;
								font-style: italic;
								font-size: 1rem;
								margin-bottom: 0.5rem;
								.name {
									font-weight: 500;
								}
								.date {
									font-weight: 300;
								}
							}
							.item__desc {
								font-weight: 300;
								font-size: 0.85rem;
								line-height: 1.4;
								font-style: italic;
							}
						}
					}
				}
			}

			.triangle {
				.other-triangle-left {
					border-width: 68px 274px 0 0;
					border-color: $teal-tml07 transparent transparent transparent;
				}
			}

			.dot {
				.dot-1 {
					width: 12rem;
					bottom: -4.5rem;
					left: -0.25rem;
				}
				.dot-2 {
					width: 6.5rem;
					bottom: -4.5rem;
					right: -0.625rem;
				}
			}
		}

		.row-3 {
			background-color: $red-tml07;
			margin-left: 3px;
			position: relative;

			&::before {
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 68px 273px;
				border-color: transparent transparent $red-tml07 transparent;
				position: absolute;
				top: -68px;
				left: 0;
			}

			.work-experience {
				padding-left: 1.625rem;
				padding-right: 1.625rem;

				.main__content {
					.work-experience__list {
						.work-experience__item {
							font-style: italic;

							&:not(:last-child) {
								margin-bottom: 0.75rem;
							}
							.item__date {
								font-size: 1.125rem;
								color: $white;
								font-weight: 500;
								margin-bottom: 0.5rem;
							}
							p {
								display: flex;
								margin-bottom: 0.25rem;
								font-size: 0.8rem;
								strong {
									margin-right: 0.1875rem;
									text-transform: uppercase;
								}
							}
							.item__desc {
								font-size: 0.85rem;
								line-height: 1.4;
							}
							.item__name,
							.item__project,
							.item__position {
								text-transform: uppercase;
							}
						}
					}
				}
			}

			.triangle {
				.other-triangle-left {
					border-width: 68px 274px 0 0;
					border-color: $red-tml07 transparent transparent transparent;
				}
				.triangle-right-back {
					border-width: 70px 277px 0 0;
				}

				.triangle-left-back,
				.other-triangle-right {
					display: none;
				}
			}

			.dot {
				.dot-1 {
					width: 280px;
					bottom: -60px;
					left: -6px;
				}
				.dot-2 {
					display: none;
				}
			}
		}

		.triangle {
			.other-triangle-left {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 68px 274px 0 0;
				border-color: $teal-tml07 transparent transparent transparent;
				position: absolute;
				bottom: -68px;
				left: 0;
			}

			.triangle-right-back {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 68px 277px 0 0;
				border-color: $lighter-tml07 transparent transparent transparent;
				position: absolute;
				bottom: -78px;
				left: -2px;
			}

			.triangle-left-back {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 132px 68px 0;
				border-color: transparent $lighter-tml07 transparent transparent;
				position: absolute;
				bottom: -79px;
				right: -4px;
			}

			.other-triangle-right {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 132px 68px 0;
				border-color: transparent $gray-tml07 transparent transparent;
				position: absolute;
				bottom: -68px;
				right: 0;
			}
		}

		.dot {
			.dot-1 {
				width: 188px;
				height: 1px;
				border-top: 4px dotted $gray-tml07;
				position: absolute;
				bottom: -68px;
				left: 0;
				transform: rotate(-14deg);
			}
			.dot-2 {
				width: 96px;
				height: 1px;
				border-top: 4px dotted $gray-tml07;
				position: absolute;
				bottom: -71px;
				right: -6px;
				transform: rotate(28deg);
			}
		}
	}

	.bottom__layout {
		width: 100%;
		margin-top: 6.25rem;

		.lang-skill {
			margin: 0 0 0 2.8rem;
			display: flex;
			justify-content: space-between;
			.language {
				.title__content {
					color: $gold-tml07;
					font-size: 2rem;
					text-transform: uppercase;
				}

				.main__content {
					.language__list {
						.process__item {
							width: 300px;
							position: relative;
							&:not(:last-child) {
								margin-bottom: 0.5rem;
							}
							.item__name {
								text-transform: uppercase;
								font-weight: 700;
								margin-bottom: 4px;
								font-size: 12px;
								color: $white;
								position: absolute;
								top: 50%;
								left: 0.75rem;
								transform: translate(0, -50%);
							}
							.process-outer {
								width: 100%;
								height: 1.625rem;
								background-color: $gray-tml07;
							}

							.process-inner {
								background-color: $orange;
								width: 80%;
								height: 100%;
							}
						}
					}
				}
			}

			.personal-skill {
				width: 100%;
				padding-left: 2.75rem;
				padding-right: 1.5rem;
				.title__content {
					color: $red-tml07;
					font-size: 2rem;
					text-transform: uppercase;
				}

				.main__content {
					.skill__list {
						display: grid;
						grid-template-columns: repeat(4, 1fr);
						.skill__item {
							display: flex;
							flex-direction: column;
							align-items: center;
							&:nth-child(n) {
								margin-bottom: 0.625rem;
							}
							.percent {
								position: relative;
								display: flex;
								justify-content: center;
								align-items: center;
								margin-bottom: 0.25rem;
								svg {
									position: relative;
									width: 90px;
									height: 90px;
									z-index: 3;
									circle {
										width: 100%;
										height: 100%;
										fill: none;
										stroke: $gray-tml07;
										stroke-width: 10;
										stroke-linecap: round;
										transform: translate(0.3125rem, 0.3125rem);
										stroke-dasharray: 440;
									}

									.circle-inner {
										stroke: $red-tml07;
										stroke-dashoffset: 400;
									}
								}

								div {
									display: flex;
									flex-direction: column;
									position: absolute;
									top: 50%;
									left: 50%;
									transform: translate(-50%, -50%);
									z-index: 4;
									.text__percent {
										text-align: center;
										font-weight: 700;
										font-size: 0.8125rem;
									}
									.text__skill {
										text-transform: uppercase;
										font-weight: 500;
										font-size: 11px;
									}
								}
							}
						}
					}
				}
			}
		}

		.hobby {
			display: flex;
			justify-content: center;
			margin: 2rem 0;
			.title__content {
				color: $teal-tml07;
				font-size: 2rem;
				text-transform: uppercase;
				margin-right: 0.75rem;
			}

			.main__content {
				.hobby__list {
					display: flex;
					.hobby__item {
						color: $gray-tml07;
						margin: 0 0.75rem;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						i {
							font-size: 2.625rem;
						}
						p {
							text-transform: uppercase;
							font-size: 1rem;
							margin-top: 0.5rem;
							font-weight: 500;
						}
					}
				}
			}
		}
	}
}
