.cv-template10 {
	position: relative;
	.svg-top {
		width: 100%;
		height: 100%;
		z-index: 1;
		svg {
			width: 100%;
			height: 100%;
		}
	}

	.profile {
		&__main {
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 10.875rem;
			right: 0;
			width: 90%;
			background-color: $lighter-gray-tml10;

			.profile__top-content {
				display: flex;
				flex-direction: row;

				.profile__left-content {
					flex: 0.9;
					height: 200px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-right: 2px solid $light-gray-tml10;

					.avatar {
						width: 8.75rem;
						height: 8.75rem;
						border: 4px solid $white;
						border-radius: 100%;
						background-color: $white;
						img {
							width: 100%;
							height: 100%;
							border-radius: 100%;
							box-shadow: inset 4px 3px 12px #0000008a;
						}
					}
				}
				.profile__right-content {
					flex: 2;
					padding: 1.375rem;

					.heading {
						text-transform: capitalize;
						font-weight: 400;
						font-size: 1.375rem;

						&::after {
							content: "";
							width: 3.625rem;
							height: 0.25rem;
							background-color: $dark-gray-tml10;
							display: block;
							margin: 0.5rem 0;
						}
					}
					.profile__desc {
						font-style: italic;
						font-weight: 300;
						line-height: 1.125rem;
					}
				}
			}

			.profile__bottom-content {
				border-top: 2px solid #928f93;
				background-color: $light-gray-tml10;
			}

			&__left-content {
			}
		}
	}
}
