@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500&display=swap");

$font-times-new-roman: "Times New Roman", serif;
$font-roboto: "Roboto", sans-serif;
$font-anton: "Anton", sans-serif;

$light-gray: #e7e7e7;
$blue-gray: #202835;
$white: #ffffff;
$orange: #f28c1c;
$black: #000000;
$lighter-gray: #ebebeb;
$gray: #b7b7b7;

// template 11
$gold-tml11: #ffbe29;
$light-gray-tml11: #e9e9eb;
$red-tml11: #f4543a;
$green-tml11: #b3dc04;
$light-blue-tml11: #86d5fe;
$blue-gray-tml11: #323651;
$orange-tml11: #fb9614;
$gray-tml11: #3a4245;

// template 10
// $lighter-gray-tml10: #edebee;
$light-gray-tml10: #d1d1d3;
$dark-gray-tml10: #37353a;
$gold-tml10: #ca9539;

// template 08
$dark-gray-tml08: #3f3f3f;
